@model TechStoreAuth.Models.Producto
@{
    ViewData["Title"] = "Detalles de producto";
}
<h1>Details</h1>
<div class="container">
    <div class="col-sm-4">
        <div class="card mb-3">
            <div class="card-body">
                <div class="card-img-actions">
                    <img class="img-responsive" width="96" height="150"
                        src="@Html.DisplayFor(model => Model.ImageURL)" />
                </div>
            </div>
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                <h5 class="card-title">@Html.DisplayFor(model => model.Price)</h5>
                <a class="btn btn-primary" asp-action="Add" asp-route-id="@Model.Id">Add</a>
            </div>
        </div>
    </div>
    using Microsoft.EntityFrameworkCore.Metadata.Internal;
</div>